.global-max-content {
    max-width: map-get($map: $breakpoints, $key: xxlarge);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.global-title {
    font-size: 1.1rem;
    color: var(--color-secondary);
    font-weight: 500;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    &::before {
        content: 'Contact';
        position: absolute;
        font-size: 7vw;
        opacity: .8;
        color: var(--color-secondary)
    }
    @media(max-width: 767px) {
        &::before {
            font-size: 28px;
        }
    }
}

.copyright {
    color: var(--color-secondary); 
}

.particles {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    @include responsive(500px) {
        display: none;
    }
}

.position {
    position: relative;
    display: flex;
    flex-direction: column;
    &:hover .dropdown{
        transform: scaleY(1);
        transition: .3s ease-in-out;
    }
    @include responsive(medium) {
        display: inline-block;
        &:hover {
            transform: scaleY(1);
        }
    }
}

.error {
    background-color: rgb(255, 51, 51);
}

.w-45 {
    width: 45%;
}
.w-50 {
    width: 50%;
}
.w-flex1 {
    // flex: 1;
}

.pt-30 {
    padding-top: 30px;
}

.pt-header {
    padding-top: var(--header-height);
}

.mt-50 {
    margin-top: 60px;
}
.w-20 {
    // width: 22%;
}

.arrow-scroll {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px;
    background-color: var(--color-secondary);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &:hover {
        background-color: rgb(61, 137, 250);
    }
}